[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "coin-comparator"

[packages]
coverage = "*"
django = "*"
python-dateutil = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
openpyxl = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.10"
