<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <base href="http://127.0.0.1:8000/coins">
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Coin Comparator</title>
        <link href="{% static 'coins/css/style1.css' %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'coins/js/basic.js' %}"></script>
        <link href="{% static 'coins/img/favicon.png' %}" rel="icon" type="image/x-icon">
    </head>
    <body>
        <section id="header">
            <span class='logo'>
                <img alt="Logotipo" class='logo' src="{% static 'coins/img/logo.png' %}"/>
            </span>
        </section>
        <div id="body2">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
