{% extends "coins/base.html" %}
{% block content %}
<div id="div1">
    <script>
        async function insert_data_json() {
            const data_json = {{ month_data | safe }} ;
            ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'line',
                options: {
                    responsive: true,
                    parsing: {
                        xAxisKey: 'date_part',
                        yAxisKey: 'value'
                    },
                    legend: {
                         position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart'
                    }
                },
                data: {
                    labels: data_json.map(row => row.date_part),
                    datasets: [
                        {
                          label: 'Acquisitions by day',
                          data: data_json.map(row => row.value)
                        }
                    ]
                },
            });
        };

        document.addEventListener("DOMContentLoaded", insert_data_json);
    </script>
    <div id="div_myChart">
        <canvas id="myChart">Your browser does not support the canvas element.</canvas>
    </div>
</div>
{% endblock %}