:root {
  --color-1: #C3FABB !important ;
  --color-2: #E8B59D !important ;
  --color-3: #A07870 !important ;
  --color-4: #60686F !important ;
  --color-5: #8EC79F !important ;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-weight: 400;
}

body {
    background-color: var(--color-5);
}

/******************************** HEADER */
#header {
    background-color: var(--color-5);
    height: 60px;
    box-shadow: 0 3px rgb(0 0 0 / 20%);
}

.logo {
    float: right;
    padding: 0.4em;
    height: 60%;
}

.logo img {
    height: 100%;
    vertical-align: middle;
}

/******************************** GRID */
.grid {
    display: grid;
    grid-template-columns: 250px repeat(1, 1fr);
    background-color: var(--color-4);
    height: 100%;
}

/******************************** MENU */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: var(--color-3);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class
with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: var(--color-1);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: white;
    display: none;
    overflow: hidden;
}

.panel p {
    padding: 4px 10px 4px 10px;
    background-color: var(--color-2);
    text-align: center;
}

.panel p:hover {
    background-color: var(--color-1);
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/******************************** CONTENT */
#content {
    background-color: var(--color-4);
    overflow: hidden;
    /* padding: 30px !important; */
}

#coin-selector-box {
    width: 1000px;
    padding: 20px;
}

#coin-selector-box label {
    margin-right: 10px;
}

#div1 {
    background-color: var(--color-3);
    border-color: var(--color-1);
    border-style: solid;
    border: 0px 0px 5px 5px;
    /* border-radius: 0px 0px 5px 5px; */
    padding: 4px 4px 20px 20px;
    /* width: 50%; */
    margin-bottom: 10px;
}

#div_myChart {
    background-color: white;
    width: 1000px;
}


