* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-weight: 400;
}

/******************************** HEADER */
#header {
    background-color: #ec0000;
    height: 60px;
    box-shadow: 0 3px rgb(0 0 0 / 20%);
}

.logo {
    float: right;
    padding: 0.4em;
    height: 60%;
}

.logo img {
    height: 100%;
    vertical-align: middle;
}

/******************************** GRID */
.grid {
    display: grid;
    grid-template-columns: 250px repeat(1, 1fr);
    background-color: rgb(188, 188, 188);
    height: 100%;
}

/******************************** MENU */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class
with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/******************************** CONTENT */
#content {
    background-color: #e4e4e4;
    overflow: hidden;
    padding: 30px !important;
}

#div1 {
    width: 50%;
}